<section class="content container-fluid">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="box box-default page-box" style="height: auto !important;">
          <div class="box-header">
            <div class="icon-inline"><h2>Average Salary Per Company</h2></div>
          </div>
          <dx-data-grid #status id="Salary" [dataSource]="dataSource"
                        [remoteOperations]="true"
                        showBorders="true"
                        [hoverStateEnabled]="true" class="dx-table">
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxo-paging [pageSize]="15"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true"
                       [allowedPageSizes]="[10, 15, 20, 25, 50]"
                       [showInfo]="true"
                       [showNavigationButtons]="true">
            </dxo-pager>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxo-editing mode="row"
                         [allowAdding]="false"
                         [allowUpdating]="false"
                         [allowDeleting]="false">
            </dxo-editing>
            <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
            <dxo-export [enabled]="true" fileName="Average-Salary-List"></dxo-export>

            <dxi-column dataField="companyName" caption="Company Name"></dxi-column>
            <dxi-column dataField="aveSalary" caption="Average Salary"></dxi-column>
          </dx-data-grid>
        </div>
      </div>
    </div>
  </div>
</section>
