<section class="content container-fluid">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="box box-default page-box" style="height: auto !important;">
          <div class="box-header">
            <div class="icon-inline"><em class="material-icons material-icons-headings-gy">library_books</em><h2>About ESS</h2></div>
          </div>
          <p>ESS is an employee storage service for companies. A company admin needs to be able to:</p>
            <ul>
              <li>create employee records for company,</li>
              <li>view them in a list and detail view for company,</li>
              <li>update the employee records and delete them for company,</li>
              <li>find the average salary for the company</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</section>
